@import "src/theme/theme-variables";
@import "~bootstrap/scss/mixins/_breakpoints";

.role-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.role-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100%;
}

@include media-breakpoint-down(xs) {
  .container {
    width: 100%;
  }
}

.provider-role-header {
  font-weight: bold;
  font-size: 18px;
}

.provider-role-sub-header {
  font-weight: lighter;
  color: rgb(114,114,114);
}

.provider-role-name {
  color: rgb(74,74,74);
}

.provider-role-type {
  color: rgb(114,114,114);
}
